--extra-index-url https://download.pytorch.org/whl/rocm5.6

# demucs>=4.1.0a2
git+https://github.com/adefossez/demucs.git  # Use git repo as it 4.1.0 hasn't been pushed to PyPI
numpy
psutil>=5.7.0
pyperclip
PySide6
Soundfile>=0.9.0
soxr>=0.3.6
packaging
ordered-set
certifi
diffq>=0.2.1
