--extra-index-url https://download.pytorch.org/whl/cpu

# demucs>=4.1.0a2
git+https://github.com/adefossez/demucs.git  # Use git repo as it 4.1.0 hasn't been pushed to PyPI
numpy<2
psutil>=5.7.0
pyperclip
PySide6
Soundfile>=0.9.0
soxr>=0.3.6
packaging
ordered-set
certifi
diffq>=0.2.1
more-itertools
tinytag<2

# New installation required since 2.0 as Apollo model has been added
# urllib3, threadpoolctl, scipy, platformdirs, msgpack, llvmlite, lazy-loader, joblib, idna, decorator, charset-normalizer, audioread, absl-py, scikit-learn, requests, numba, ml-collections, pooch, huggingface-hub, librosa, Apollo
git+https://github.com/CarlGao4/Apollo-setup-py.git
